/* Общие стили */
body {
    font-family: 'Arial', sans-serif;
    background-color: #fefefe; /* Белый фон */
    margin: 0;
    padding: 0;
    color: #333;
}

h1, h2 {
    color: #d32f2f; /* Красный */
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
}

h1 {
    font-size: 2.8em;
    text-align: center;
}

h2 {
    font-size: 2em;
    border-bottom: 3px solid #e57373; /* Светлый красный */
    padding-bottom: 5px;
}

/* Контейнер */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Карточка */
.card {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    padding: 25px;
    transition: transform 0.3s, box-shadow 0.3s ease;
    margin: 20px 0;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

/* Информационный блок */
.info-block p {
    margin: 10px 0;
    font-size: 18px;
    line-height: 1.6;
}

.info-block p strong {
    color: #d32f2f; /* Красный */
}

/* Кнопки */
.back-button-container {
    text-align: center;
    margin-top: 20px;
}

.back-button {
    display: inline-block;
    background-color: #d32f2f; /* Красный */
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 12px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

.back-button:hover {
    background-color: #c62828; /* Темный красный */
    transform: scale(1.05);
}
